*{
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;/**/
    display: flex;/*开起弹性盒模型 即自适应*/
    justify-content: center;/*主轴上居中*/
    align-items: center;/*辅轴上居中*/
}

.game-nav{
    width:931px;
    height: 313px;
    margin:250px auto;
    background-image:url('image/bg.png');
}

