body{
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
header{
    background-color: #2f373a;
    height: 80px;
    color: #fff;
    line-height: 80px;
    padding: 0 20px;
}
a{
    
    text-decoration:none;
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-logo{
    font-size: 20px;
    display: inline-block;
    cursor: default;  
    position: relative;
    z-index: 1;
}
.header-nav-list {
    display: inline-block;
    margin-left: 40px; 
    z-index: 1;
    font-size: 16px;
    text-decoration: none;
}
.header-nav a {
    padding: 20px;
    color: #A9A9A9;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}
.header-nav span{
    font-size: 16px;
}
.header-nav a:hover,
.header-nav a.active {
    color: #fff;
    
}

.header-menu-line{
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px 4px;

}
.header-menu{
    display: none;
}
.header-nav{
    display: inline-block;
}
@media only screen and (max-width:768px) {
    .header-menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 28px;
        z-index: 1;

    }
    .header-nav-list{
        display: none;
        
    }
    header{
        text-align: left;
    }
    .header-logo{
        
    }
    .show-menu .header-nav-list{
        height: 100%;
        opacity: .95;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        margin: 0;
        width: 100%;
        background-color: #2f373a;
        margin-top: 80px;
        text-align: left;
        text-indent: 25px;
        padding-top: 20px;
    }
    .show-menu .header-nav a{
        display: block;
        padding: 0;
        height: 50px;
        line-height: 50px;
    }
}