html,
body,
{
    width:100%;
    height: 100%;
    margin: 0;
}

header{
    background-color: #7c91a7;}
.header-nav a.active,
.header-logo{
    color:#75cbf0;
}
.header-nav a {
    color: #fff;
}
.hobbies{
    position: relative;
}
.main-blue{
    height: 500px;
    background-color: #75cbf0;
}
.main-white{
    height: 540px;
    background-color: #fff;
}
.main-gray{
    min-height: 400px;
    background-color: #7c91a7;
}
.square-position{
    position: absolute;
    top:500px;
    left:0;
}
.square{
    height: 100px;
    width: 100px;
    background-color: #75cbf0;
    border: 10px solid white;
    position: absolute;  
}
.square-1{
    left: 40px;
    top: -50px;
    transform: rotate(35deg);
}
.square-2{
    transform:scale(1.5,1.5);
    left: 100px;
    top: -50px;
    transform: rotate(27deg);
}