html,
body,
{
    width:100%;
    height: 100%;
    margin: 0;
}

header{
    background-color: #7c91a7;}
.header-nav a.active,
.header-logo{
    color:#75cbf0;
}
.header-nav a {
    color: #fff;
}
.hobbies{
    position: relative;

}
.main-blue{
    height: 450px;
    background-color: #75cbf0;
}
.blue-text{
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.main-white{
    height: 500px;
    background-color: #fff;
}
.white-text{
    max-width: 1200px;
    margin: 0 auto;
    color:#75cbf0;
    overflow: hidden;
    text-align: center;
}
.col-xs-4 {
    padding: 0 8px;
}
.stamps{
    margin-top: 250px;
}
.money{
    margin-top: 300px;
}
.brocades{
    margin-top: 250px;
}
h1{
    display: inline-block;
}
p{
    display: inline-block;
    margin: 0 0 0 7px;
}
.square-container{
    position: relative;
    max-width: 1550px;
    margin: 0 auto;
    text-align: center;
    height: 0;
}
.square-position{
    position: absolute;
    display: inline-block;
    width: 0;
    top: 250px;
}
.square-y{
    height: 550px;
    position: relative;
    overflow-y: visible;
    top: -250px;
    overflow-x: hidden;
}
.square{
    background-color: #75cbf0;
    border: 6px solid white;
    position: absolute;
}
.square-1{
    height: 30px;
    width: 30px;
    left: -750px;
    top: -23px;
    transform: rotate(35deg);
}
.square-2{
    height: 50px;
    width: 50px;
    left: -680px;
    top: -25px;
    border-width: 7px;
}
.square-3{
    height: 70px;
    width: 70px;
    left: -638px;
    top: -85px;
    transform: rotate(-10deg);
    border-width: 8px;
}
.square-4{
    height: 50px;
    width: 50px;
    left: -602px;
    top: -18px;
    transform: rotate(20deg);
}
.square-5{
    height: 80px;
    width: 80px;
    left: -550px;
    top: -40px;
    transform: rotate(20deg);
    border-width: 8px;
}
.square-6{
    height: 110px;
    width: 110px;
    left: -350px;
    top: -112px;
    border-width: 11px;
}
.square-7{
    height: 140px;
    width: 140px;
    left: -477px;
    top: -70px;
    border-width: 12px;
}
.square-8{
    height: 270px;
    width: 270px;
    left: -315px;
    top: -50px;
    transform: rotate(27deg);
    border-width: 18px;
}
.square-9{
    height: 100px;
    width: 100px;
    left: -15px;
    top: -50px;
    border-width: 11px;
    transform: rotate(-10deg);
}
.square-10{
    height: 60px;
    width: 60px;
    left: -70px;
    top: -70px;
    transform: rotate(-10deg);
    border-width: 8px;
}
.square-11{
    height: 50px;
    width: 50px;
    left: 30px;
    top: -104px;
    border-width: 7px;
    transform: rotate(-20deg);
}
.square-12{
    height: 245px;
    width: 245px;
    left: 80px;
    top: -55px;
    transform: rotate(27deg);
    border-width: 19px;
}
.square-13{
    height: 275px;
    width: 275px;
    left: 219px;
    top: -130px;
    transform: rotate(27deg);
    border-width: 26px;
}
.square-14{
    height: 85px;
    width: 85px;
    left: 515px;
    top: -56px;
    transform: rotate(-30deg);
    border-width: 10px;
}
.square-15{
    height: 140px;
    width: 140px;
    left: 580px;
    top: -120px;
    border-width: 12px;
    transform: rotate(-30deg);
}
.square-position-xs{
    display: none;
}

.main-gray{
    min-height: 400px;
    background-color: #7c91a7;
}
.gray-text{
    max-width: 1200px;
    margin: 0 auto;
}


@media only screen and (max-width:768px) {
h1{
    display: block;
}
.blue-text img{
   width: 354px;
}
.main-blue{
    height: 300px;
}
.main-white{
    height: 310px;
}
.stamps{
    margin-top: 130px;
}
.money{
    margin-top: 180px;
}
.brocades{
    margin-top: 130px;
}
.square-y{
    text-align: justify;
}
.square-position{
    display: none;
}
.square-position-xs{
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 250px;
}
.square-1xs{
    height: 30px;
    width: 30px;
    top: -23px;
    transform: rotate(35deg);
}
.square-2xs{
    height: 50px;
    width: 50px;
    left: 45px;
    top: -25px;
    border-width: 7px;
}
.square-3xs{
    height: 70px;
    width: 70px;
    left: 87px;
    top: -85px;
    transform: rotate(-10deg);
    border-width: 8px;
}
.square-4xs{
    height: 50px;
    width: 50px;
    left: 125px;
    top: -18px;
    transform: rotate(20deg);
}
.square-5xs{
    height: 80px;
    width: 80px;
    left: 175px;
    top: -40px;
    transform: rotate(20deg);
    border-width: 8px;
}
.square-6xs{
    height: 110px;
    width: 110px;
    top: -112px;
    border-width: 11px;
    left: 360px;
}
.square-7xs{
    height: 125px;
    width: 125px;
    left: 250px;
    top: -70px;
    border-width: 12px;
}
.square-8xs{
    left: 520px;
    height: 160px;
    width: 160px;
    top: -50px;
    transform: rotate(27deg);
    border-width: 14px;
}
.square-9xs{
    height: 60px;
    width: 60px;
    left: 470px;
    top: -30px;
    border-width: 8px;
    transform: rotate(-10deg);
}




}